@fontFamily: 'Open Sans', sans-serif;

@color1: #212121;
@color3: #E0E0E0;

//html {
//    height: 100%;
//}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #90CAF9 0%, #42A5F5 100%);
//    height: 100%;
}

button {
    border: none;
    outline: none;
}

.text-container {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 64px;
    
    
    .page-title {
        color: #FFFFFF;
        font-family: @fontFamily;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 58px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 96px;
        text-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    }

    .page-dsc {
        color: #FFFFFF;
        font-family: @fontFamily;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: center;
        margin-top: 12px;
    }
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: auto;
    margin-bottom: 195px;
    margin-left: 20%;
    margin-right: 20%;
    
    form {
        width: 50%;
        height: 64px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12);
        
        input {
            margin-left: 32px;
            width: 100%;
            height: 64px;
            border: none;
            font-size: 16px;
            font-weight: 400;
            color: @color1;
            padding: 0;
        }
    
        input::-webkit-input-placeholder {
            color: @color1 !important;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.4;
        }

        input:-moz-placeholder { /* Firefox 18- */
            color: @color1 !important;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.4;
        }

        input::-moz-placeholder {  /* Firefox 19+ */
            color: @color1 !important;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.4;
        }

        input:-ms-input-placeholder {  
            color: @color1 !important;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.4;
        }

        input:focus {
            outline: none;
        }
    }
    
    .search-container {
        position: absolute;
        height: 84px;
        width: 84px;
        border: 6px solid #ffffff;
        border-radius: 84px;
        background-color: #42A5F5; 
        z-index: 10;
        margin: 0;
        box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12);
        transition: 0.1s;
        
        img {
            height: 48px;
            width: 48px;
        }
    }
    
    .search-container:hover {
        transform: scale(1.05);
    }
    
    .result-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 130px;
        background-color: white;
        border-radius: 12px;
        font-family: @fontFamily;
        font-size: 20px;
        font-weight: 400;
        color: @color3;
        transform: translateY(32px);
        box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12);
        
        .result1 {
            height: 64px;
            display: flex;
            align-items: center;
            
            p {
                flex-grow: 1;
                margin-left: 80px;
                font-family: @fontFamily;
                font-weight: 300;
                font-size: 16px;
            }
            
            .copy-icn {
                flex-grow: 0;
                flex-basis: 24px;
                height: 24px;
                background: url(../icn/copy-icn.svg);
                margin-right: 14px;
                opacity: 0;
                transition: 0.3s;
            }
            
            .copy-icn:hover {
                opacity: 1;
            }
        }
    
        .horizontal-divider-line {
            width: 100%;
            height: 2px;
            background-color: #e0e0e0;
        }
        
        .result2 {
            height: 64px;
            display: flex;
            align-items: center;
            
            p {
                flex-grow: 1;
                margin-left: 80px;
                font-family: @fontFamily;
                font-weight: 300;
                font-size: 16px;
            }
            
            .copy-icn {
                flex-grow: 0;
                flex-basis: 24px;
                height: 24px;
                background: url(../icn/copy-icn.svg);
                margin-right: 14px;
                opacity: 0;
                transition: 0.3s;
            }
            
            .copy-icn:hover {
                opacity: 1;
            }
        }
        
        .result1:hover .copy-icn{
            opacity: 0.8;
        }
        
        .result2:hover .copy-icn{
            opacity: 0.8;
        }
    }
}


.table-container {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    height: (4*64px)+(3*2px);
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    margin-bottom: 96px;
    
    .horizontal-divider-line {
        width: 100%;
        height: 2px;
        background-color: #e0e0e0;
    }
    
    .table-row {
        display: flex;
        flex-direction: row nowrap;
        justify-content: space-between;
        width: 100%;
        height: 64px;
        
        .table-item {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            align-items: center;
            align-self: center;
            height: 64px;
            transition: 0.1s;
            
//            .copy-notif {
//                display: block;
//                opacity: 0;
//                width: 100px;
//                height: 30px;
//            }
//            
//            .show {
//                opacity: 1;
//            }
            
            p {
                flex-grow: 1;
                margin-left: 32px;
                font-family: @fontFamily;
                font-size: 14px;
            }
            
            .copy-icn {
                flex-grow: 0;
                flex-basis: 24px;
                height: 24px;
                background: url(../icn/copy-icn.svg);
                margin-right: 14px;
                opacity: 0;
                transition: 0.3s;
            }
            
            .copy-icn:hover {
                opacity: 1;
            }
            
            .vertical-divider-line {
                flex-grow: 0;
                flex-basis: 2px;
                height: 64px;
                background-color: #e0e0e0;
            }
        }
        
        .table-item:hover {
            background-color: #f5f5f5;
        }
        
        .table-item:hover .copy-icn{
            opacity: 0.2;
        }
    }
}

//Second hover for ".copy-icn"
.table-container { 
    
    .table-row {
        
        .table-item {
            
            .copy-icn {
            }
            
            .copy-icn:hover {
                opacity: 0.8;
            }
        }
    }
}



